# Python
__pycache__/
*.py[cod]
venv/
.env
*.db
*.db-journal

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
.next/
